
 @media(max-width:900px) and (min-width:501px)
 {
	.wrapper{
		overflow:hidden;
	}
	.svg-icons{
		overflow: auto;
		}
	.logoimg{
		padding-top: 36px;
		}
	    
	.svg-icons ul{
		float:left;
		}
	.mid-wrapper{
		overflow:hidden;
		}
	.content{
		width:50%;
	  padding: 0 10px 0 0;
	}
    .content {
	
	 width: 50%;
	 float: left;
	 }
	 
	  input[type="text"]{
		 width:61%;
	 }
	 
	 button{
		 width:37%;
	 }
	  
	.righ-nav{
		width: 34%;
		
		}
    
	.imgcaption{
		  float:none;
		  width:auto;
	  }
  .services{
	   width: 22%;
	  }
  
  footer{
	  padding:0;
  }
  footer section{
    width: 25%;
  
  }
  . contact-info{
	  width:25%;
  }
  .contact-info input{
	border-radius: 10px;
    width: 100%;
    font-size: 8px;
    background: #c6c6c6;
    border: none;
    height: 30px;
  }
}
 
 

