
$orient:#07587b;
$lightgrey:#D3D3D3;
$persianred:#cd2e27;
$fruitSalad:#4c9d68;
$pumice:#c6c6c6;
$white:#fff;
$veniceBlue:#08597F;
$chicago:#58595b;
$gray:#828182;
$mountainMist:#949293;
$black:#000;

















 
